.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.content-center {
  align-content: center;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
